name: CI

on:
  push:

jobs:
  ts-test:
    name: TS Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@1.91
        with:
          targets: wasm32-unknown-unknown
      - name: Install wasm-pack
        run: cargo install wasm-pack
      - name: Build WASM
        run: |
          cd rust
          wasm-pack build --target web
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: npm ci
        run: |
          npm ci
      - name: Run test
        run: |
          npm run test
      - name: Run build
        run: npm run build
